@model direct_auth_idx.Models.SelectAuthenticatorMethodViewModel
@{
    ViewBag.Title = ViewBag.Title ?? "Verify with your phone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("SelectPhoneChallengeMethodAsync", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.AuthenticatorId)
    @Html.HiddenFor(m => m.EnrollmentId)
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
<div class="form-group">
    @(String.Format("Send a code via SMS to {0}", Model.Profile))
</div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Send a code via SMS" class="btn btn-default" />
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}