@model embedded_auth_with_sdk.Models.ForgotPasswordViewModel
@using Okta.Idx.Sdk

@{
    ViewBag.Title = ViewBag.Title ?? "Enter your email to recover your password.";
}

<br />

<div class="row d-center"">
    <div class="col-md-8">
        <section id="forgotPasswordForm">
            @using (Html.BeginForm("ForgotPasswordAsync", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Reset your password</h4>
                <h5>Enter your email to recover your password</h5>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-10">
                        <div class="row row-no-gutters">
                            @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                        </div>
                        <div class="row row-no-gutters">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Submit" class="btn btn-primary btn-stretch-wide" id="ResetPasswordBtn"/>
                    </div>
                </div>
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}